

<main id="main">

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <!--<div class="swiper-slide">
                <img src="{{selectedProject.images[0]}}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="">
              </div>-->

            </div>
            <div class="swiper-pagination"></div>
          </div>
              <app-carousel></app-carousel>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>{{selectedProject.title}}</h3>
            <ul>
              <li><strong>Used technology</strong>: {{selectedProject.usedTechnology}}</li>
              <li><strong>Project URL</strong>: <a href="{{selectedProject.projectUrl}}" target="_blank">{{selectedProject.projectUrl}}</a></li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Project details</h2>
            <p>
              <!--{{selectedProject.projectDetails}}-->
              <app-textarea></app-textarea>
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
