<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Skills</h2>
      <p>
        Im trying to keep in equality my four primary skill (Java, C#, JavaScript, TypeScript).
        Beside this I learn another skills too, like
      </p>
      <ul>
        <li *ngFor="let skill of skills">
          {{skill}}
        </li>
      </ul>
       etc.
    </div>

    <div class="row skills-content">

      <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    </div>

  </div>
</section><!-- End Skills Section -->
